*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-color: rgba(255, 173, 76, 0.1);
}

.navbar{
background-color: rgba(255, 173, 76, 0.01);
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
padding-right: 15px;
padding-left: 15px;
width: 70%;
height: 65px;
display: flex;
justify-content: space-between;
align-items: center;
}
.navdiv
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
  
   
}

.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar h3 span{
    color: rgba(255, 173, 76, 1);
    padding: 7px;
    letter-spacing: 1px;
    font-weight: 700px;
    line-height: 50px;
    
}
.navbar h3 a{
    color:rgba(75, 75, 75, 1);
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 700px;
    line-height: 50px;
}
ul {
    list-style: none;
    /* margin-left: 250px; */
}
ul li{
    display: inline-block;
    position: relative;
    left: 50%;
    
}
ul li a{
    display: block;
    padding: 5px 15px;
    font-family: "Inter", sans-serif;
    color:rgba(75, 75, 75, 1);
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
    font-weight: 400px;
    line-height: 34px;
    letter-spacing: 1%;
}
span 
{
    color: rgba(255, 173, 76, 1);
    
}
img{
    position: relative;
    left:40%;
   
   
}
.fa-solid.fa-bars
{
  position: absolute;
  left: 10%;
  display: none;
}
.left img{
    margin-top: 15px;
    left:43%;
    border-radius: 8px;
    z-index: -100000;
    width:60%;
    height: 130%;
}
.left i{
    padding: 10px;
    position: relative;
    right:22%;
    top: 25%;
    
    
}
.fa-solid.fa-angle-left
{
    color: rgba(255, 173, 76, 1);
    font-size: 25px;
    border: 1px solid rgba(36, 215, 113, 0.1);
    background-color: rgba(248, 251, 249, 0.5);
    border-radius: 5px;
    height: 5%;
   
}
.fa-solid.fa-angle-right
{
    
    color: rgba(255, 173, 76, 1);
    
    font-size: 25px;
    border: 1px solid rgba(36, 215, 113, 0.1);
    background-color: rgba(245, 249, 248, 0.3);
    border-radius: 5px;

}
.right
{
    background-color: rgba(246, 248, 247, 0.8);
    
    width: 30%;
    height: 35%;
    position: absolute;
    top: 30%;
    left: 6%;
    border-radius: 8px;
    padding: 10px;
    
    

}
.right h3{
    color:  rgba(255, 173, 76, 1);
    font-size: 34px;
    line-height: 54px;
    letter-spacing: 1%;
    padding: 5px;
  font-family: Roboto;
  margin-left: 8%;


}
.right p{
    font-family: Roboto;
    margin-left: 8%;
    color: rgba(75, 75, 75, 1);
    font-size: 16px;
    letter-spacing: 1%;
    line-height: 19PX;
    
}
.right button{
        padding: 10px;
        background-color:  rgba(255, 173, 76, 1);
        border: none;
        font-family: Roboto;
        margin-left: 8%;
        color: white;
        border-radius: 5px;
}

@media(max-width:991px)
{
    .fa-solid.fa-bars
{
  position: absolute;
  left: 50%;
  display: block;
}
ul li a
{
    display:none;
}
.right
{
    background-color: rgba(246, 248, 247, 0.8);
    
    width: 35%;
    height: 45%;
    position: absolute;
    top: 38%;
    left: 35%;
    border-radius: 8px;
    padding: 10px;
 
}
}
.text h2{
    text-align: center;
    font-family: Roboto;
    padding: 20px;
    color: rgba(75, 75, 75, 1);
    font-size: 24px;
   
}
.left img{
    margin-top: 16px;
    left:23%;
    border-radius: 8px;
    z-index: -100000;
    width:60%;
    height: 130%;
}
@media(max-width:575px)
{
    .navbar h3
    {
        font-size: 20px;
    }
    
        .fa-solid.fa-bars
    {
      position: absolute;
      left: 29%;
      display: block;
    }
    ul li a 
    {
        display:none;
    }
    

.right
{
    background-color: rgba(246, 248, 247, 0.8);
    
    width: 45%;
    height: 35%;
    position: absolute;
    top: 45%;
    left: 35%;
    border-radius: 8px;
    padding: 10px;
}
 }
